[submodule "kernel/thead-linux"]
	path = kernel/thead-linux
	url = https://github.com/T-head-Semi/linux.git
[submodule "kernel/smaeul-uboot"]
	path = kernel/smaeul-uboot
	url = https://github.com/smaeul/u-boot.git
[submodule "kernel/opensbi"]
	path = kernel/opensbi
	url = https://github.com/riscv-software-src/opensbi.git
[submodule "kernel/smaeul-linux"]
	path = kernel/smaeul-linux
	url = https://github.com/smaeul/linux.git
